.icon-social__wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 200ms linear, transform 200ms linear;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
}

.icon-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: $color-effect;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 200ms linear;

    .&:not(:last-child) {
        border-right: 1px solid #f9bd87;
    }

    .&:hover,
    .&:focus {
        background-color: $secondary-bg-color;
        cursor: pointer;
    }

    .&__svg {
        display: block;
        width: 50%;
        height: 50%;
        fill: $secondary-bg-color;
        transition: fill 200ms linear;    
    }

    .&:hover .&__svg,
    .&:focus .&__svg {
        fill: #fff;
    }
}

.card__wrapper:hover .card__img,
.card__wrapper:hover .icon-social__wrapper  {
    transform: translateX(-10px) translateY(-10px);
    opacity: 1;
}

.card__name {
    margin-top: 30px;
    font-size: 14px;
    font-family: $main-title-font;
    font-weight: 400;
    text-transform: uppercase;
}

.card__job {
    margin-top: 10px;
    font-family: $main-page-font;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}
