/* Montserrat */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/montserrat-v12-latin-regular.eot'); 
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/Montserrat/montserrat-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/Montserrat/montserrat-v12-latin-regular.woff') format('woff'), 
         url('../fonts/Montserrat/montserrat-v12-latin-regular.ttf') format('truetype'), 
         url('../fonts/Montserrat/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); 
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat/montserrat-v12-latin-700.eot'); 
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/Montserrat/montserrat-v12-latin-700.woff2') format('woff2'), 
         url('../fonts/Montserrat/montserrat-v12-latin-700.woff') format('woff'),
         url('../fonts/Montserrat/montserrat-v12-latin-700.ttf') format('truetype'),
         url('../fonts/Montserrat/montserrat-v12-latin-700.svg#Montserrat') format('svg');
}

/* Roboto-Slab */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoSlab/roboto-slab-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/RobotoSlab/roboto-slab-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/RobotoSlab/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/RobotoSlab/roboto-slab-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/RobotoSlab/roboto-slab-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/RobotoSlab/roboto-slab-v7-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* Droid Serif */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidSerif/DroidSerif-Italic-webfont.eot');
  src: url('../fonts/DroidSerif/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidSerif/DroidSerif-Italic-webfont.woff2') format('woff2'),
       url('../fonts/DroidSerif/DroidSerif-Italic-webfont.woff') format('woff'),
       url('../fonts/DroidSerif/DroidSerif-Italic-webfont.ttf') format('truetype'),
       url('../fonts/DroidSerif/DroidSerif-Italic-webfont.svg#DroidSerif') format('svg');

}

/* WisdomScript */
@font-face {
  font-family: 'WisdomScriptAJ';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/WisdomScript/WisdomScriptAJ.eot');
  src: url('../fonts/WisdomScript/WisdomScriptAJ.woff') format('woff'), 
       url('../fonts/WisdomScript/WisdomScriptAJ.ttf') format('truetype');
}