/* COMMON */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    position: relative;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 38px;
    margin-bottom: 35px;
}

.title::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #f38181;
}

.subtitle {
    text-align: center;
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    display: block;
}

/* NAVIGATION */

.header {
    padding: 40px 10px 230px;
    position: relative;
    margin-bottom: 50px;
}

.header::before {
    content: "";
    background: linear-gradient(to top, rgba(252, 227, 138, 0.8), rgba(243, 129, 129, 0.8)), url(../images/banner/banner-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 160px;
}

.nav-list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}


.nav-list__item:last-child {
    margin-right: -30px;
}

.nav-list__link {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 0 30px;
    padding-bottom: 16px;
    transition: color 200ms linear;
}

.nav-list__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 3px;
    background: #fce38a;
    opacity: 0;
    }

.nav-list__item:hover .nav-list__link::after,
.nav-list__item:focus .nav-list__link::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.nav-list__link:hover,
.nav-list__link:focus {
    color: #fce38a;
}

.logo__title {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header__title {
    color: #ffff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 88px;
    padding: 0 150px 0;
}

.header__subtitle {
    color: #ffff;
    text-align: center;
    font-family: "Kaushan Script", sans-serif;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 20px;
}

.header__button {
    display: block;
    color: #ffff;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0);
    border: solid #ffff 3px;
    text-transform: uppercase;
    padding: 12px 30px;
    cursor: pointer;
    transition: background 200ms linear;
}

.header__button:hover,
.header__button:focus {
    background: #fce38a;
}

/* SERVICES SECTION */

.services {
    padding-bottom: 70px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0 10px;
}

.services__item {
    width: 300px;
    position: relative;
    padding-left: 80px;
    margin: 30px 20px 70px 0;
}

.services__item:nth-child(3n) {
    margin-right: 0;
}

.services__item-title {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.services__item-text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}

.service__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    transform: translateX(50%);
}

/* TEAM SECTION */

.team {
    padding: 23px 0 80px;
}

.team__desc {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 96px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
}

.team__wrapper {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 380px;
    text-align: center;
}

.card:not(:last-child) {
    margin-right: 30px;
}

.card__wrapper {
    position: relative;
}

.card__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #95e1d3;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card__img {
    transition: opacity 200ms linear, transform 200ms linear;
    display: block;
    object-fit: cover;
}

/* CARD MENU */

.icon-social__wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 200ms linear, transform 200ms linear;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
}

.icon-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 200ms linear;
}

.icon-social:not(:last-child) {
    border-right: 1px solid #f9bd87;
}

.icon-social:hover,
.icon-social:focus {
    background-color: #f38181;
    cursor: pointer;
}

.icon-social__svg {
    display: block;
    width: 50%;
    height: 50%;
    fill: #f38181;
    transition: fill 200ms linear;    
}

.icon-social:hover .icon-social__svg,
.icon-social:focus .icon-social__svg {
    fill: #fff;
}

.card__wrapper:hover .card__img,
.card__wrapper:hover .icon-social__wrapper  {
    transform: translateX(-10px) translateY(-10px);
    opacity: 1;
}

.card__name {
    margin-top: 30px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.card__job {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

/* FOOTER */

.footer {
    border-top: 1px solid #999;
}

.footer-wrapper {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.footer__copyright {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.footer__link {
    color: #f38181;
    text-decoration: none;
}

.form__email { 
  height: 38px;
  width: 228px;
  border: 1px solid #d9d9d9;
  font-family: Roboto, sans-serif;
  line-height: 25px;
  font-size: 15px;
  padding-left: 12px;
  border-right: 0;
}

.form__email[type="placehoder"] {
    color: #d9d9d9;
}

.form__submit {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  width: 150px;
  border: none;
  background-color: #95e1d3;
  transition: background-color 200ms linear;
}

.form__submit:hover {
  background-color: #f38181;
  cursor: pointer;
}
