$main-title-font: Montserrat, sans-serif;
$main-subtitle-font: "Kaushan Script", sans-serif;
$secondary-bg-color: #f38181;
$color-effect: #fce38a;
$header-text-color: #fff;
$main-page-font: Roboto, sans-serif;
